/* HEADER */
header {
    background-color: rgb(255, 105, 0);
    height: 100px;
}

.misure-prova {
    height: 50px;
    width: 200px;  
}

header #categorie {
    background-color: red;
}

header #logo {
    background-color: pink;
}

header #icone-header {
    background-color: blueviolet;
}

header nav {
    justify-content: space-between;
    margin: 20px 0;
}

header nav div#categorie {
    align-items: center;
}

header ul {
    gap: 10px;
}

/* MAIN */
main div#catalogo {
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 50px;
    padding: 50px 0;
}

main div .prodotti {
    width: calc((100% /3) - 10px);
    height: 500px;
    background-color: burlywood;
}