/* HEADER */
header {
    background-color: rgb(255, 105, 0);
    color: white;
}

header nav {
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}

header nav div > ul {
    gap: 10px;
}

header nav > img{
    width: 15%;
}

/* MAIN */
main div#catalogo {
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 50px;
    padding: 50px 0;
}

main div .prodotti {
    width: calc((100% /3) - 10px);
    height: 500px;
    background-color: burlywood;
}

/* FOOTER */
footer {
    background-color: rgb(26, 26, 26);
    color: white;
}
footer div#contenitore-footer {
    justify-content: space-between;
}

footer div .misure-footer {
    width: 400px;
    height: 100px;
}

footer div.info {
    align-items: center;
}