/* HEADER */
header {
    background-color: rgb(255, 105, 0);
    color: white;
    width: 100%;
    height: 70px;
    font-size: 14px;
    font-weight: 700;
    position: fixed;
    top: 0;
    z-index: 99;
}

header nav {
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

header nav div > ul {
    gap: 10px;
}

header nav > img{
    width: 10%;
}

/* MAIN */
main {
    margin: 70px 0 90px;
}

main div#catalogo {
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 50px;
    padding: 50px 0;
}

main div.prodotti {
    width: calc((100% /3) - 10px);
}

main div .prodotti .prodotto {
    width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Immagini Prodotti */
main div .prodotti #pic1 {
    background-image: url(../img/1.webp);
}

main div .prodotti #pic1:hover {
    background-image: url(../img/1b.webp);
}

main div .prodotti #pic2 {
    background-image: url(../img/2.webp);
}

main div .prodotti #pic2:hover {
    background-image: url(../img/2b.webp);
}

main div .prodotti #pic3 {
    background-image: url(../img/3.webp);
}

main div .prodotti #pic3:hover {
    background-image: url(../img/3b.webp);
}

main div .prodotti #pic4 {
    background-image: url(../img/4.webp);
}

main div .prodotti #pic4:hover {
    background-image: url(../img/4b.webp);
}

main div .prodotti #pic5 {
    background-image: url(../img/5.webp);
}

main div .prodotti #pic5:hover {
    background-image: url(../img/5b.webp);
}

main div .prodotti #pic6 {
    background-image: url(../img/6.webp);
}

main div .prodotti #pic6:hover {
    background-image: url(../img/6b.webp);
}

/* Box Cuore - Preferiti */
main #catalogo .prodotti .prodotto span.cuore {
    width: 40px;
    height: 40px;
    background-color: white;
    font-size: 30px;
    text-align: center;
    vertical-align: middle;
    top: 5px;
    right: 0;
}

main #catalogo .prodotti .prodotto span.cuore:hover {
    color: red;
}

/* Box Etichette - Sconto e Sostenibilità */
main #catalogo .prodotti .prodotto .etichetta {
    left: 0;
    bottom: 30px;
}

main #catalogo .prodotti .prodotto .box-etichette {
    padding: 2px 5px;
    font-size: 12px;
    color: white;
    font-weight: 1000;
}

main #catalogo .prodotti .prodotto .sconto {
    background-color: rgb(255, 0, 0);
}

main #catalogo .prodotti .prodotto .sostenibile {
    background-color: rgb(0, 128, 0);
}

main div .prodotti h5 {
    font-weight: 300;
}

main div .prodotti span.price {
    color: red;
    font-size: 12px;
    font-weight: 700;
}

main div .prodotti span.discount {
    text-decoration-line: line-through;
    font-size: 12px;
}

/* FOOTER */
footer {
    background-color: rgb(26, 26, 26);
    color: white;
    width: 100%;
    height: 90px;
    position: fixed;
    bottom: 0;
    z-index: 99;
}
footer div#contenitore-footer {
    justify-content: space-between;
    padding: 20px 0;
}

footer div.info {
    align-items: center;
}

footer #contenitore-footer .info div > h4,
footer #contenitore-footer .info > h5 {
    margin-bottom: 5px;
}

footer #contenitore-footer .info div > h5 {
    display: inline-block;
    font-weight: 300;
    margin-right: 10px;
}

footer #contenitore-footer .info div > i {
    margin: 5px 5px 0 0;
}